.text {
  &--h4 {
    @apply font-primary font-bold text-white text-[34px];
    line-height: 1.2;
  }

  &--body1 {
    @apply font-primary font-medium text-white;
    font-size: 14px;
    line-height: 1.5;
  }
}