.dialog-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background: rgba(0, 0, 0, 0.1);
}

.dialog-background {
  @apply absolute inset-0 z-0 max-md:hidden;
}

.dialog-content {
  @apply flex flex-col justify-center flex-1 bg-dark rounded-8 md:max-w-[510px] z-10 relative md:max-h-[640px] h-full;
}

.dialog-head {
  @apply p-2.5;
}

.dialog-body {
  @apply p-14;
}