.btn {
  @apply min-w-[100px] sm:min-w-[108px] min-h-12 font-primary font-bold whitespace-nowrap hover:brightness-105 text-sm text-white;

  &:not(&--icon) {
    @apply px-4 rounded-8;
  }

  &--primary {
    @apply bg-gradient-to-r from-pink to-violet;
  }

  &--secondary {
    @apply bg-gray-primary;
  }

  &--tertiary {
    @apply bg-transparent border-1 border-pink-100;
  }

  &-ghost {
    @apply bg-transparent;
  }

  &--icon {
    min-width: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

