.card {
  &__cover {
    @apply bg-gray-primary rounded-5 overflow-hidden;
    aspect-ratio: 144/214;

    & img {
      width: auto;
      height: 100%;
    }
  }

  &__title {
    @apply text-sm leading-1.25 font-medium ;
  }
}