.btn {
  min-height: 48px;
  min-width: 100px;
  @apply font-primary font-bold whitespace-nowrap hover:brightness-105 text-sm;

  &:not(&--icon) {
    @apply px-4 rounded-8;
  }

  &--primary {
    @apply bg-gradient-to-r from-pink to-violet text-white;
  }

  &--secondary {
    @apply bg-gray-primary text-white;
  }

  &--tertiary {
    @apply bg-transparent text-white border-1 border-pink-100;
  }

  &--icon {
    min-width: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

